@import "functions";
@import "mixins";
@import "variables";
@import "animations";

.result-search {
  @include flex(row, center);
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  max-width: 1900px;
  padding-bottom: 2rem;

  @include mobile {
    gap: 0;
  }
}

app-search-user {
  width: 100%;
}
.alert {
  position: absolute;

  top: 10rem;
  padding: 0rem 1.5rem;
  margin: 0.5rem 0;

  background-color: colors("warning");
  color: colors("warning font");
  font-size: sizes("regular");
  border: 2px solid colors("warning soft");
  border-radius: 10px;
  box-shadow: 0 0 1px colors("warning soft");

  animation: popMessage 0.5s cubic-bezier(0.37, 0.41, 0, 1.18);

  h3 {
    margin: 1rem 0 0.3rem;
  }
  p {
    margin: 0 0 0.5rem;
  }
}

.loading {
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  width: 10rem;
  text-align: center;

  background-color: colors("white");
  color: colors("black");
  font-size: sizes("semibold");
  border: 2px solid colors("light");
  border-radius: 10px;
  box-shadow: 0 0 1px colors("light");

  animation: popMessage 0.5s cubic-bezier(0.37, 0.41, 0, 1.18);
}
